<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Accounts</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <button type="button" class="btn btn-info d-none d-lg-block m-l-15" data-toggle="modal" data-target="#accountModal">
                <i class="fa fa-plus-circle"></i> Create
                New</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Useranme</th>
                                <th>Password</th>
                                <th>Role</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Address</th>
                                <th>Birthday</th>
                                <th>Status</th>
                                <th class="text-nowrap">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>12345</td>
                                <td><span class="badge badge-pill badge-danger">admin</span></td>
                                <td>mark@gmail.com</td>
                                <td>0909090909</td>
                                <td>Mark</td>
                                <td>Olivier</td>
                                <td>222 street</td>
                                <td>12/12/1989</td>
                                <td><span class="badge badge-pill badge-success">active</span></td>
                                <td>
                                    <button type="submit" class="btn btn-info btn-sm" data-toggle="modal" data-target="#accountModal">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>12345</td>
                                <td><span class="badge badge-pill badge-danger">admin</span></td>
                                <td>mark@gmail.com</td>
                                <td>0909090909</td>
                                <td>Mark</td>
                                <td>Olivier</td>
                                <td>222 street</td>
                                <td>12/12/1989</td>
                                <td><span class="badge badge-pill badge-success">active</span></td>
                                <td>
                                    <button type="submit" class="btn btn-info btn-sm" data-toggle="modal" data-target="#accountModal">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>12345</td>
                                <td><span class="badge badge-pill badge-danger">admin</span></td>
                                <td>mark@gmail.com</td>
                                <td>0909090909</td>
                                <td>Mark</td>
                                <td>Olivier</td>
                                <td>222 street</td>
                                <td>12/12/1989</td>
                                <td><span class="badge badge-pill badge-success">active</span></td>
                                <td>
                                    <button type="submit" class="btn btn-info btn-sm" data-toggle="modal" data-target="#accountModal">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>12345</td>
                                <td><span class="badge badge-pill badge-danger">admin</span></td>
                                <td>mark@gmail.com</td>
                                <td>0909090909</td>
                                <td>Mark</td>
                                <td>Olivier</td>
                                <td>222 street</td>
                                <td>12/12/1989</td>
                                <td><span class="badge badge-pill badge-success">active</span></td>
                                <td>
                                    <button type="submit" class="btn btn-info btn-sm" data-toggle="modal" data-target="#accountModal">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>12345</td>
                                <td><span class="badge badge-pill badge-danger">admin</span></td>
                                <td>mark@gmail.com</td>
                                <td>0909090909</td>
                                <td>Mark</td>
                                <td>Olivier</td>
                                <td>222 street</td>
                                <td>12/12/1989</td>
                                <td><span class="badge badge-pill badge-success">active</span></td>
                                <td>
                                    <button type="submit" class="btn btn-info btn-sm" data-toggle="modal" data-target="#accountModal">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>12345</td>
                                <td><span class="badge badge-pill badge-danger">admin</span></td>
                                <td>mark@gmail.com</td>
                                <td>0909090909</td>
                                <td>Mark</td>
                                <td>Olivier</td>
                                <td>222 street</td>
                                <td>12/12/1989</td>
                                <td><span class="badge badge-pill badge-success">active</span></td>
                                <td>
                                    <button type="submit" class="btn btn-info btn-sm" data-toggle="modal" data-target="#accountModal">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>12345</td>
                                <td><span class="badge badge-pill badge-danger">admin</span></td>
                                <td>mark@gmail.com</td>
                                <td>0909090909</td>
                                <td>Mark</td>
                                <td>Olivier</td>
                                <td>222 street</td>
                                <td>12/12/1989</td>
                                <td><span class="badge badge-pill badge-success">active</span></td>
                                <td>
                                    <button type="submit" class="btn btn-info btn-sm" data-toggle="modal" data-target="#accountModal">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>12345</td>
                                <td><span class="badge badge-pill badge-danger">admin</span></td>
                                <td>mark@gmail.com</td>
                                <td>0909090909</td>
                                <td>Mark</td>
                                <td>Olivier</td>
                                <td>222 street</td>
                                <td>12/12/1989</td>
                                <td><span class="badge badge-pill badge-success">active</span></td>
                                <td>
                                    <button type="submit" class="btn btn-info btn-sm" data-toggle="modal" data-target="#accountModal">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>12345</td>
                                <td><span class="badge badge-pill badge-danger">admin</span></td>
                                <td>mark@gmail.com</td>
                                <td>0909090909</td>
                                <td>Mark</td>
                                <td>Olivier</td>
                                <td>222 street</td>
                                <td>12/12/1989</td>
                                <td><span class="badge badge-pill badge-success">active</span></td>
                                <td>
                                    <button type="submit" class="btn btn-info btn-sm" data-toggle="modal" data-target="#accountModal">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>12345</td>
                                <td><span class="badge badge-pill badge-danger">admin</span></td>
                                <td>mark@gmail.com</td>
                                <td>0909090909</td>
                                <td>Mark</td>
                                <td>Olivier</td>
                                <td>222 street</td>
                                <td>12/12/1989</td>
                                <td><span class="badge badge-pill badge-success">active</span></td>
                                <td>
                                    <button type="submit" class="btn btn-info btn-sm" data-toggle="modal" data-target="#accountModal">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav class="d-flex justify-content-center mt-2">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active">
                            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="usernameInput">Username</label>
                        <input type="text" class="form-control" id="usernameInput" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="passwordInput">Password</label>
                        <input type="password" class="form-control" id="passwordInput" placeholder="Password">
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="roleInput">Role</label>
                            <select class="form-control" id="roleInput">
                                <option>Admin</option>
                                <option>Teacher</option>
                                <option>Student</option>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label for="statusInput">Status</label>
                            <select class="form-control" id="statusInput">
                                <option>Active</option>
                                <option>Inactive</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="emailInput">Email</label>
                        <input type="email" class="form-control" id="emailInput" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="phoneInput">Phone</label>
                        <input type="number" class="form-control" id="phoneInput" placeholder="Phone">
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="firstnameInput">First name</label>
                            <input type="text" class="form-control" id="firstnameInput" placeholder="First name">
                        </div>
                        <div class="form-group col-6">
                            <label for="lastnameInput">Last name</label>
                            <input type="text" class="form-control" id="lastnameInput" placeholder="Last name">
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="addressInput">Address</label>
                        <input type="text" class="form-control" id="addressInput" placeholder="Address">
                    </div>
                    <div class="form-group">
                        <label for="birthdayInput">Birthday</label>
                        <input type="date" class="form-control" id="birthdayInput" placeholder="Birthday">
                    </div>

                    <button type="submit" class="btn btn-info float-right">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>